<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CasparCG.Conformer.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CasparCG.Conformer.Shell.Properties.Settings>
            <setting name="LogPath" serializeAs="String">
                <value>Log</value>
            </setting>
            <setting name="InputPath" serializeAs="String">
                <value>Input</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>Output</value>
            </setting>
            <setting name="DeleteInputWhenFinished" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClearOutputOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LookForNewFilesOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxThreadsOffset" serializeAs="String">
                <value>2</value>
            </setting>
        </CasparCG.Conformer.Shell.Properties.Settings>
    </applicationSettings>
</configuration>